<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.goodscenter">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".ui.activity.GoodsActivity"></activity>
        <activity android:name=".ui.activity.SearchGoodsActivity"></activity>
        <activity android:name=".ui.activity.CartActivity"></activity>
        <activity
            android:name=".ui.activity.GoodsDetailActivity"
            android:theme="@style/AppTheme.Black"></activity>
    </application>
</manifest>
