<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>账号管理</string>
			<key>subtitle</key>
			<string></string>
			<key>rightTitle</key>
			<string></string>
			<key>isHiddenRightTitle</key>
			<true/>
			<key>isHiddenLine</key>
			<true/>
			<key>isHiddenSubtitle</key>
			<true/>
			<key>isHiddenArraw</key>
			<false/>
			<key>isHiddenSwitch</key>
			<true/>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>列表显示摘要</string>
			<key>subtitle</key>
			<string></string>
			<key>rightTitle</key>
			<string></string>
			<key>isHiddenRightTitle</key>
			<true/>
			<key>isHiddenLine</key>
			<false/>
			<key>isHiddenSubtitle</key>
			<true/>
			<key>isHiddenArraw</key>
			<true/>
			<key>isHiddenSwitch</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>字体大小</string>
			<key>subtitle</key>
			<string></string>
			<key>rightTitle</key>
			<string>中</string>
			<key>isHiddenRightTitle</key>
			<false/>
			<key>isHiddenLine</key>
			<true/>
			<key>isHiddenSubtitle</key>
			<true/>
			<key>isHiddenArraw</key>
			<true/>
			<key>isHiddenSwitch</key>
			<true/>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>非Wifi网络流量</string>
			<key>subtitle</key>
			<string></string>
			<key>rightTitle</key>
			<string>较省流量(只能下图)</string>
			<key>isHiddenRightTitle</key>
			<false/>
			<key>isHiddenLine</key>
			<false/>
			<key>isHiddenSubtitle</key>
			<true/>
			<key>isHiddenArraw</key>
			<true/>
			<key>isHiddenSwitch</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>清除缓存</string>
			<key>subtitle</key>
			<string></string>
			<key>rightTitle</key>
			<string>0.00MB</string>
			<key>isHiddenRightTitle</key>
			<false/>
			<key>isHiddenLine</key>
			<true/>
			<key>isHiddenSubtitle</key>
			<true/>
			<key>isHiddenArraw</key>
			<true/>
			<key>isHiddenSwitch</key>
			<true/>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>推送通知</string>
			<key>subtitle</key>
			<string>您可能错过错过重要资讯通知，点击去设置允许通知</string>
			<key>rightTitle</key>
			<string></string>
			<key>isHiddenRightTitle</key>
			<true/>
			<key>isHiddenLine</key>
			<false/>
			<key>isHiddenSubtitle</key>
			<false/>
			<key>isHiddenArraw</key>
			<true/>
			<key>isHiddenSwitch</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>收藏时转发</string>
			<key>subtitle</key>
			<string></string>
			<key>rightTitle</key>
			<string></string>
			<key>isHiddenRightTitle</key>
			<true/>
			<key>isHiddenLine</key>
			<false/>
			<key>isHiddenSubtitle</key>
			<true/>
			<key>isHiddenArraw</key>
			<true/>
			<key>isHiddenSwitch</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>自动播放视频</string>
			<key>subtitle</key>
			<string></string>
			<key>rightTitle</key>
			<string></string>
			<key>isHiddenRightTitle</key>
			<true/>
			<key>isHiddenLine</key>
			<true/>
			<key>isHiddenSubtitle</key>
			<true/>
			<key>isHiddenArraw</key>
			<false/>
			<key>isHiddenSwitch</key>
			<true/>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>头条封面</string>
			<key>subtitle</key>
			<string></string>
			<key>rightTitle</key>
			<string></string>
			<key>isHiddenRightTitle</key>
			<true/>
			<key>isHiddenLine</key>
			<false/>
			<key>isHiddenSubtitle</key>
			<true/>
			<key>isHiddenArraw</key>
			<false/>
			<key>isHiddenSwitch</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>当前版本</string>
			<key>subtitle</key>
			<string></string>
			<key>rightTitle</key>
			<string>5.7.0</string>
			<key>isHiddenRightTitle</key>
			<false/>
			<key>isHiddenLine</key>
			<false/>
			<key>isHiddenSubtitle</key>
			<true/>
			<key>isHiddenArraw</key>
			<true/>
			<key>isHiddenSwitch</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>使用帮助</string>
			<key>subtitle</key>
			<string></string>
			<key>rightTitle</key>
			<string></string>
			<key>isHiddenRightTitle</key>
			<true/>
			<key>isHiddenLine</key>
			<true/>
			<key>isHiddenSubtitle</key>
			<true/>
			<key>isHiddenArraw</key>
			<false/>
			<key>isHiddenSwitch</key>
			<true/>
		</dict>
	</array>
</array>
</plist>
